
header {
  height: 400px;
  width: 100%;
  background-image: url("../images/3px-tile.png");
  background-color: #c97f00;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
#avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

