

header {
  height: 400px;
  width: 100%;
  background-image: url("../images/3px-tile.png");
  background-color: #c97f00;
  color: #FFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
